{% extends "BaseLogged.html" %}

{% block title %}Group 5{% endblock %}

{% block content %}
	<div class="row">
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="photos/Aidan.JPG" alt="Aidan" style="height:500px">
      			<div class="caption">
        			<h3>Aidan Rosswood</h3>
      			</div>
      		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="photos/Anthony.JPG" alt="Anthony" style="height:500px">
      			<div class="caption">
        			<h3>Anthony Li</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="photos/Sam.JPG" alt="Sam" style="height:500px">
      			<div class="caption">
        			<h3>Sam Allan</h3>
      			</div>
    		</div>
  		</div>
	</div>
    <div class="row">
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="photos/Cristian.JPG" alt="Cristian" style="height:500px">
      			<div class="caption">
        			<h3>Cristian Brazales</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="photos/Kyle.JPG" alt="Kyle" style="height:500px">
      			<div class="caption">
        			<h3>Kyle Martin</h3>
      			</div>
    		</div>
  		</div>
	</div>

	<style>
		.navbar-header a.navbar-brand  {
			color: white;
		}
	</style>
{% endblock %}
