<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="Group5.html">Group 5<span class="sr-only">(current)</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="home"><a href="/">Home</a></li>
                <li class="signup"><a href="SignUp.html">Sign Up</a></li>
                <li class="myaccount"><a href="CustomersAccount.html">My Account</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form id="signin-form" action="/signin" method="POST" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="userpass" name="userpass" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary" id="signin">Sign In</button>
                </form>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>