<!DOCTYPE html>
<html>
<head>
	<link href="styles/main.css" rel="stylesheet" type="text/css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<title>Group 5 Website</title>
</head>
<body>

	<header>
		<nav>
			<h1>My Practice Page</h1>
			<ul>
				<li><a href="HomeScreen.html">Home</a></li>
				<li><a href="Practice.html">Practice</a></li>
				<li><a href="SignUp.html">SignUp</a></li>
				<li><a href="SignIn.html">SignIn</a></li>
				<li><a href="CustomerAccount.html">Account</a></li>

			</ul>
		</nav>
	</header>

	<div class="row">
		<div class="col">col1</div>
		<div class="col">col2</div>
		<div class="col">col3</div>
	</div>

	<div class="row"> 
		<div class="col-sm-6"> test </div>
	</div>

	<footer></footer>
	

	<h1>Big</h1>
	<h2>not as big</h2>
	<h3>smaller</h3>
	<p>paragraph</p>
	<p>paragraph2</p>
	<p>paragraph3</p>
	<strong>bold</strong><br>
	<em>Italics</em><br>

	<a href="https://www.google.ca">google.com</a><br>

	<ul>
		<li>item 1</li>
		<li>item 2</li>
	</ul>

	<ol>
		<li>item 1</li>
		<li>item 2</li>
	</ol>

	<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Cigarette_DS.jpg/1920px-Cigarette_DS.jpg">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>