{% extends "Base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
	<div class="row">
		<form>
			<div class="col-md-6">
				<div class="row">	
					<div class="col-md-1"></div>
					<div class="col-md-8">
							<label for="newemail">Enter your Email</label>
						<input type="text" class="form-control" id="newemail" placeholder="Example@gmail.com">
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<label for="newpassword">Enter a Password</label>
						<input type="text" class="form-control" id="newpassword" placeholder="Password">
					</div>
				</div><br>

				<div class="row">	
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<label for="newphone">Enter your Phone Number</label>
						<input type="text" class="form-control" id="newphone" placeholder="2501234567">
					</div>
				</div><br>

				<div class="row">	
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<label for="newID">Enter your ID Code (See picture for location)</label>
						<input type="text" class="form-control" id="newID" placeholder="M28345345">
					</div>
				</div><br>
				<div class="row">	
					<div class="col-md-7"></div>
					<button type="submit" class="btn btn-primary" id="createAcc">Submit Info</button>
				</div>
			</div>
		</form>
		<div class="col-md-6">
			<br><br><br><br><br><br><br><br><br><br><br>
			<img src="photos/License.JPG" alt="License" style="height:50%">
		</div>
	</div>

	<script>
		$(".navbar-inverse .navbar-nav>li.signup").addClass("active");
	</script>
{% endblock %}
